/FB_test.pvd
/FB_test_phase.pvd
/Mono_A.bin
/Mono_A.bin.info
/Mono_M.bin
/Mono_M.bin.info
/Timestep_00000000_0.00000000e+00/FB_test.pvtr
/Timestep_00000000_0.00000000e+00/FB_test_p00000000.vtr
/Timestep_00000000_0.00000000e+00/FB_test_phase.pvtr
/Timestep_00000000_0.00000000e+00/FB_test_phase_p000000.vtr
/Timestep_00000001_1.10000000e-02/FB_test.pvtr
/Timestep_00000001_1.10000000e-02/FB_test_p00000000.vtr
/Timestep_00000001_1.10000000e-02/FB_test_phase.pvtr
/Timestep_00000001_1.10000000e-02/FB_test_phase_p000000.vtr
/r.1.bin
/r.1.bin.info
/rhs.bin
/rhs.bin.info
/Matrices
/src/Timestep_00000000_0.00000000e+00/FB_test.pvtr
/src/Timestep_00000000_0.00000000e+00/FB_test_p00000000.vtr
/src/Timestep_00000000_0.00000000e+00/FB_test_phase.pvtr
/src/Timestep_00000000_0.00000000e+00/FB_test_phase_p000000.vtr
/Timestep_00000000_0.00000000e+00/Subduction3D_FreeSlip_direct.pvtr
/Timestep_00000000_0.00000000e+00/Subduction3D_FreeSlip_direct_p00000000.vtr
/Timestep_00000000_0.00000000e+00/Subduction3D_FreeSlip_direct_phase.pvtr
/Timestep_00000000_0.00000000e+00/Subduction3D_FreeSlip_direct_phase_p000000.vtr
/Timestep_00000000_0.00000000e+00/Subduction3D_FreeSlip_direct_surf.pvts
/Timestep_00000000_0.00000000e+00/Subduction3D_FreeSlip_direct_surf_p00000000.vts
/Timestep_00000001_5.50000000e-02/Subduction3D_FreeSlip_direct.pvtr
/Timestep_00000001_5.50000000e-02/Subduction3D_FreeSlip_direct_p00000000.vtr
/Timestep_00000001_5.50000000e-02/Subduction3D_FreeSlip_direct_phase.pvtr
/Timestep_00000001_5.50000000e-02/Subduction3D_FreeSlip_direct_phase_p000000.vtr
/Timestep_00000001_5.50000000e-02/Subduction3D_FreeSlip_direct_surf.pvts
/Timestep_00000001_5.50000000e-02/Subduction3D_FreeSlip_direct_surf_p00000000.vts
/mtimesx_20110223/license.txt
/mtimesx_20110223/mtimesx.c
/mtimesx_20110223/mtimesx.m
/mtimesx_20110223/mtimesx.mexa64
/mtimesx_20110223/mtimesx_20110223.pdf
/mtimesx_20110223/mtimesx_RealTimesReal.c
/mtimesx_20110223/mtimesx_build.m
/mtimesx_20110223/mtimesx_sparse.m
/mtimesx_20110223/mtimesx_test_ddequal.m
/mtimesx_20110223/mtimesx_test_ddspeed.m
/mtimesx_20110223/mtimesx_test_dsequal.m
/mtimesx_20110223/mtimesx_test_dsspeed.m
/mtimesx_20110223/mtimesx_test_nd.m
/mtimesx_20110223/mtimesx_test_sdequal.m
/mtimesx_20110223/mtimesx_test_sdspeed.m
/mtimesx_20110223/mtimesx_test_ssequal.m
/mtimesx_20110223/mtimesx_test_ssspeed.m
/Timestep_00000005_3.35780500e-01/Subduction3D_FreeSlip_direct.pvtr
/Timestep_00000005_3.35780500e-01/Subduction3D_FreeSlip_direct_p00000000.vtr
/Timestep_00000005_3.35780500e-01/Subduction3D_FreeSlip_direct_phase.pvtr
/Timestep_00000005_3.35780500e-01/Subduction3D_FreeSlip_direct_phase_p000000.vtr
/Timestep_00000005_3.35780500e-01/Subduction3D_FreeSlip_direct_surf.pvts
/Timestep_00000005_3.35780500e-01/Subduction3D_FreeSlip_direct_surf_p00000000.vts
/B_plate.mat
/ETA_plate.mat
/RHO_plate.mat
/markers/mdb.00000000.dat
/resmax_plate.mat
/testscript.m
/Subduction3D_FreeSlip_direct.pvd
/Subduction3D_FreeSlip_direct_phase.pvd
/Subduction3D_FreeSlip_direct_surf.pvd
/VTK_ModelSetup_paraview_binary.vtr
/test_setups/FB_test.pvd
/test_setups/FB_test_phase.pvd
/RB_components/B.mat
/RB_components/M.mat
/RB_components/M_DEIM.mat
/RB_components/eta_DEIM.mat
/RB_components/res_max.mat
/RB_components/rho_DEIM.mat
/RB_components/rhs_bl.mat
/RB_components/rhs_bl_DEIM.mat
/RB_m6/B.mat
/RB_m6/M.mat
/RB_m6/M_DEIM.mat
/RB_m6/eta_DEIM.mat
/RB_m6/res_max.mat
/RB_m6/rho_DEIM.mat
/RB_m6/rhs_bl.mat
/RB_m6/rhs_bl_DEIM.mat
/m6_30_40_max/B.mat
/m6_30_40_max/M.mat
/m6_30_40_max/M_DEIM.mat
/m6_30_40_max/eta_DEIM.mat
/m6_30_40_max/res_max.mat
/m6_30_40_max/rho_DEIM.mat
/m6_30_40_max/rhs_bl.mat
/m6_30_40_max/rhs_bl_DEIM.mat
